.advantages {
  text-align: center;
  text-transform: uppercase;
}

.advantages__title {
  margin-bottom: 35px;
  padding: 0 15px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__item-title {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 26px;
}

.advantages__item-description {
  margin: 18px 0;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item-text-content {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__item {
  &--wide {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ffffff;

    background-color: #81b3d2;

    .advantages__item-text-content {
      padding: 23px 0 18px;
    }
  }

  &--wide:first-child {
    position: relative;
    margin-bottom: 15px;

    .advantages__item-text-content {
      padding-top: 33px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 15px;
      content: "";
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      background-color: #ffffff;
    }
  }

  &--with-background {
    background-color: #eeeeee;

    border-bottom: 1px solid #d6d6d6;

    &:last-child {
      border-bottom: none;
    }

    .advantages__item-text-content {
      padding-top: 27px;
      width: 250px;
      min-height: 140px;
    }

    .advantages__item-title {
      margin-top: 0;
    }
  }

  &--icons-decorated {
    box-sizing: border-box;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-left: 47px;

    text-align: start;

    background-repeat: no-repeat;
    background-position: 0 10px;

    .advantages__item-text-content {
      width: 250px;
      margin-left: 0;
      margin-right: 0;
    }

    .advantages__item-description {
      margin: 16px 0;
    }

    .advantages__item-title {
      margin-top: 10px;
    }
  }

  &--house {
    padding-left: 45px;

    background-image: url("../img/background-icons/icon-house.svg");
    background-size: 39px 37px;
  }

  &--food {
    padding-left: 50px;

    background-image: url("../img/background-icons/icon-burger.svg");
    background-size: 40px 35px;
  }

  &--gift {
    margin-bottom: 51px;
    padding-left: 43px;

    background-image: url("../img/background-icons/icon-gift.svg");
    background-size: 32px 38px;
    background-position: 3px 7px;
  }
}

.advantages__item-picture {
  display: block;
  width: 100vw;
  height: 260px;
  object-fit: cover;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    min-height: 256px;

    &--wide {
      display: grid;
      grid-template-columns: minmax(256px, 1fr) 2fr;
      grid-column: span 3;
    }

    &--wide:first-child::before {
      content: none;
    }

    &--wide-reverse {
      grid-template-columns: 2fr minmax(256px, 1fr);

      .advantages__item-text-content {
        order: 2;
      }
    }

    &--icons-decorated {
      box-sizing: content-box;
      width: auto;
      min-height: 220px;
      padding-top: 110px;
      padding-left: 0;

      text-align: center;

      background-position: center 60px;
    }

    &--house {
      background-size: 75px 72px;
    }

    &--food {
      background-size: 76px 68px;
    }

    &--gift {
      background-size: 64px 75px;
    }
  }

  .advantages__item-text-content {
    width: 195px;
    margin: 0 auto;
    margin-top: 42px;
  }

  .advantages__item-picture {
    object-fit: cover;
    width: 100%;
    height: 256px;

    &--scale-position {
      object-position: top calc(0px + 10%) right 0;
    }
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(256px, 1fr));
  }
}
