.control {
  display: flex;
  align-items: center;
  width: 224px;
  height: 46px;
}

.control__input {
  appearance: none;

  &::before {
    display: block;

    content: "";

    width: 46px;
    height: 46px;

    background-color: #f2f2f2;
  }
}

.control__label {
  margin-left: 16px;
}

