.feedback {
  text-transform: uppercase;
  padding: 0 6.25%;
}

.feedback__title {
  position: relative;

  max-width: 435px;
  margin: 25px auto 52px;

  text-align: center;
  font-size: 14px;
  font-weight: 400;

  &::before {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    content: "";

    width: 100vw;
    height: 1px;

    background-color: #e7e5e5;
  }
}

.feedback__footnote {
  font-size: 12px;
}

.feedback__form-group {
  margin: 0;
  margin-top: 25px;

  border: none;

  &::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";

    width: 100vw;
    height: 1px;

    background-color: #e7e5e5;
  }

  &:last-of-type::before {
    content: none;
  }
}

.feedback__form-button {
  width: 100%;
  margin-top: 8px;
}

.feedback__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 280px;
  margin: 0 auto 25px;
}

@media (min-width: @tablet-width) {
  .feedback {
    padding: 0 7.8%;
  }

  .feedback__title {
    margin-top: 20px;
    margin-bottom: 80px;

    &::before {
      content: none;
    }
  }

  .feedback__form-group-wrapper {
    position: relative;

    display: flex;
  }

  .feedback__form-group {
    margin-top: 24px;

    &::before {
      content: none;
    }
  }

  .feedback__footnote {
    font-size: 14px;
  }

  .feedback__form-button {
    width: 324px;
    margin: 0;
  }

  .feedback__button-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback__title {
    margin-bottom: 45px;
  }

  .feedback__button-container {
    width: 768px;
  }

  .feedback__form-button {
    width: 384px;
  }
}
