.feedback {
  text-transform: uppercase;
  padding: 0 6.25%;
}

.feedback__title {
  max-width: 435px;
  margin: 53px auto;

  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.feedback__footnote {
  font-size: 12px;
}

.feedback__form-group {
  border: none;

  &::before {
    position: absolute;
    top: -71px;
    left: 50%;
    transform: translateX(-50%);
    content: "";

    width: 100vw;
    height: 1px;

    background-color: #e7e5e5;
  }
}

.feedback__form-button {
  width: 100%;
}

.feedback__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .feedback__form-group-wrapper {
    position: relative;

    display: flex;
  }

  .feedback__form-group {
    &::before {
      content: none;
    }
  }

  .feedback__footnote {
    font-size: 14px;
  }

  .feedback__form-button {
    width: 324px;
  }

  .feedback__button-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
