.form-group {
  position: relative;

  padding: 0;
  padding-bottom: 40px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &--wrap {
    display: flex;
    flex-wrap: wrap;
  }


  &--user-name {
    .form-group__item {
      margin-bottom: 12px;
    }
  }

  &--user-contacts {
    padding-bottom: 35px;

    .form-group__item {
      margin-bottom: 10px;
    }
  }

  &--impress,
  &--attractions {
    padding-bottom: 25px;

    .form-group__item {
      padding-right: 15px;
    }
  }

  &--attractions,
  &--emotions {
    .form-group__title {
      margin-bottom: 20px;
    }
  }
}

.form-group__item {
  position: relative;
  min-width: 280px;
  flex-grow: 1;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &--tel,
  &--email {
    .form-group__field {
      padding-right: 75px;
    }
  }

  &--tel {
    &::before {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 58px;
      height: 58px;

      content: "";

      background-color: #e6e6e6;
      background-image: url("../img/background-icons/phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
    }
  }

  &--email {
    &::before {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 58px;
      height: 58px;

      content: "";

      background-color: #e6e6e6;
      background-image: url("../img/background-icons/mail.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 12px;
    }
  }
}

.form-group__title {
  margin-bottom: 15px;

  text-align: center;
}

.form-group__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;
}

.form-group__field-label {
  margin-left: 15px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.form-group__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 16px;


  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;

  resize: none;
  border: none;
  background-color: #f2f2f2;
}

.form-group__field,
.form-group__textarea {
  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  &::placeholder {
    color: fade(#000000, 30%);
  }

  &:disabled {
    opacity: 0.3;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

@media (min-width: @tablet-width) {
  .form-group {
    &--user-name {
      flex-grow: 1;

      border-right: 1px solid #dbdbdd;

      .form-group__item {
        margin-right: 43px;
      }
    }

    &--user-contacts {
      max-width: 466px;
      flex-grow: 1;

      .form-group__item {
        margin-left: 43px;
      }
    }

    &--impress {
      justify-content: space-between;
      padding-left: 36px;
      padding-right: 36px;

      .form-group__item {
        min-width: 265px;
      }
    }

    &--impress,
    &--attractions {
      .form-group__item {
        flex-grow: 0;
      }

      .form-group__item:last-child {
        margin-bottom: 16px;
      }
    }

    &--attractions {
      justify-content: space-between;
      margin-top: 10px;
      padding: 0 84px;

      .form-group__item {
        min-width: 209px;
      }

      .form-group__title {
        margin-bottom: 27px;
      }
    }

    &--emotions {
      .form-group__title {
        margin-bottom: 30px;
      }
    }
  }

  .form-group__title {
    margin-bottom: 24px;

    font-size: 21px;
  }

  .form-group__textarea {
    height: 160px;
  }
}

@media (min-width: @desktop-width) {
  .form-group {
    &--user-contacts {
      .form-group__item {
        margin-left: 65px;
      }
    }

    &--user-name {
      .form-group__item {
        margin-right: 65px;
      }
    }

    &--attractions {
      justify-content: flex-start;
      margin-top: 30px;
      padding-left: 40px;
      padding-right: 40px;

      .form-group__title {
        margin-bottom: 60px;
      }

      .form-group__item {
        min-width: 150px;
        max-width: 185px;
        margin-right: 54px;
        padding-left: 5px;
        padding-right: 5px;

        &:nth-of-type(4n) {
          margin-right: 0;
        }
      }
    }

    &--impress {
      justify-content: flex-start;
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px;

      .form-group__item {
        min-width: 200px;
        padding: 0;
        margin-right: 65px;

        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }

      .form-group__title {
        margin-bottom: 45px;
      }
    }

    &--emotions {
      margin-top: 70px;
      padding-left: 95px;
      padding-right: 95px;
    }

    &--attractions,
    &--impress,
    &--emotions {
      border-top: 1px solid #dbdbdb;

      .form-group__title {
        padding-left: 65px;
        padding-right: 65px;
      }
    }
  }
}
