.form-group {
  width: 280px;
  margin: 0 auto;
  border: none;
}

.form-group__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.form-group__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.form-group__field {
  display: block;
  width: 100%;
  height: 58px;

  font-size: inherit;
  line-height: inherit;
  font-weight: 700;

  background-color: #e7e5e5;
  border: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
  }


}
