.gallery {
  width: 280px;
  margin: 0 auto;

}

.gallery__description {
  text-align: center;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.gallery__card-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.gallery__card-list {
  padding: 0;
  margin: 0;

  list-style: none;
}
