.modal {
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.modal__wrapper {
  width: 240px;
  margin-right: auto;
  margin-left: auto;
}

.modal__button {
  margin-right: auto;
  margin-left: auto;
  width: 280px;
}

.modal__button-wrapper {
  padding: 20px;

  background-color: #f2f2f2;
}
