.page-title {
  width: 260px;
  margin: 35px auto;

  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-title {
    width: 380px;

    &--inner {
      font-size: 30px;
    }
  }
}
