.video {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
}

.video__description {
  padding: 0 2px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
